body {
    background: #E5E5E5;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 48px;
    padding: 10px 0;
}

.logo {
    padding-left: 2%;
    height: 48px;
}

.content {
    display: flex;
    flex-direction: row;
    margin: 1% 10% 0px 10%;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 500px;
}

.textarea-principal {
    height: 90%;
    width: 100%;
    padding: 20px 12px 0 20px;
    resize: none;
    background: transparent;
    border: none;
    outline: none;
    color: #0A3871;
    font-size: 30px;
    box-sizing: border-box;
}

.aviso {
    text-align: left;
    padding: 20px 0;
    width: 100%;
    font-size: 15px;
    color: #495057;
}

.botoes {
    display: flex;
    flex-direction: row;
}

#botao-criptografar {
    color: #FFFFFF;
    background-color: #0A3871;
}

#botao-descriptografar {
    color: #0A3871;
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
}

.botao {
    margin-right: 10px;
    padding: 15px 50px;
    border: none;
    border-radius: 30px;
}

#botao-criptografar:hover, .copiar:hover {
    cursor: pointer;
    background-color: #1352a0;
    transition: 0.4s;
}

#botao-descriptografar:hover {
    cursor: pointer;
    background-color: #ced4dd;
    transition: 0.4s;
}

.sessao-texto-resultante {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 500px;
}

.texto-resultante {
    height: 100%;
    width: 70%;
    margin-bottom: 10px;
    background: #FFFFFF url('fundoTextarea.png');
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

.textarea {
    height: 100%;
    width: 100%;
    padding: 10px 20px;
    resize: none;
    outline: none;
    background: transparent;
    border: none;
    border-radius: 5px;
    color: #495057;
    text-align: center;
    font-size: 20px;
    box-sizing: border-box;
}

.copiar {
    color: #FFFFFF;
    background-color: #0A3871;
}

.rodape {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: center;
}

.rodape p {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #495057;
    font-size: 10px;
    padding: 5px 5px;
}

.rodape a {
    padding: 10px 0;
}

.rodape a img {
    height: 15px;
    padding: 2px 0;
}

.bagde {
    height: 20px;
}

@media screen and (max-width: 780px){
        .content {
            flex-direction: column;
        }
        .principal{
            width: 100%;
        }

        .textarea-principal {
            font-size: 25px;
        }

        .sessao-texto-resultante{
            width: 100%;
            height: 200px;
        }
        .texto-resultante{
            width: 90%;
            height: 100%;
            margin-top: 20px;
            background: white;
            border-radius: 30px;
        }  
}

@media screen  and (max-width: 400px){
    .textarea-principal {
        font-size: 20px;
    }
    .aviso {
        font-size: 11px;
    }
    .botoes {
        flex-direction: column;
        width: 100%;
    }
    #botao-criptografar {
        margin-bottom: 15px;
    }

    .texto-resultante{
        width: 100%;
    }

    .copiar {
        width: 90%;
    }

    .rodape {
        flex-direction: column;
    }
    
     .imagem-rodape {
        text-align: center;
        padding: 0;
        margin: 3px 0;
    }
    
    .rodape a img {
        height: 25px;
        padding: 1px 0;
    }

    .rodape p {
        padding: 2px 0;
    }
    
    .bagde {
        width: 20px;
        margin: 0 auto;
    }
}
